/*<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
*/
.mdc-tab__icon.material-icons
{
	color: #dc0011;
}

.mdc-tab__text-label
{
	font-color: #dc0011;
}

.mdc-tab-bar, .mdc-tab-scroller
{
	color: black;
	font-color: #dc0011;
}

.container_logo
{
	width: 200px;
}







